body {
  background-color: #db1a32;
  color: #000000;
  margin: 0;
}

.header {
  overflow: hidden;
  background-color: #000000;
  padding: 10px 10px;
}
.header a {
  font-family: CustomFont;
  float: right;
  color: #db1a32;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 40px;
  line-height: 10px;
  border-radius: 4px;
}

.footer {
  overflow: hidden;
  background-color: #000000;
  padding: 10px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer a {
  font-family: CustomFont;
  float: right;
  color: #white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 40px;
  line-height: 10px;
  border-radius: 4px;
}

hr {
  height:5px;
  border-width:0;
  background-color:#000000;
  margin-top: 0;
}

@font-face {
  font-family: CustomFont;
  src: url("big_noodle_titling.ttf");
}

p{
	color: #000000;
}

.containerTitle {
	text-align: center;
  font-size: 40px;
  font-family: CustomFont;
  margin-top: 10px;

}

.containerImage {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.container {
  font-size: 24px;
  font-family: CustomFont;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

.boxa {
  width: 250px;
  height: 350px;
  border: 15px solid #000000;
  

  margin-top: 10px;
}

.boxb {
  width: 450px;
  height: 253px;
  border: 15px solid #000000;
  margin: auto;
  margin-top: 10px;
}

.boxslider {
  width: 640px;
  height: 360px;
  border: 15px solid #000000;
  margin: auto;
  margin-top: 10px;
}
