<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Michael Alekseychyk - Home</title>
{% seo %}
    {% include head-custom.html %}
    
  </head>
  <body>
    <div class="container-lg markdown-body" style="background-color: var(--color-background);display: flex;min-height: 100vh;flex-direction: column;margin: 0;overflow: scroll;">
      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>
  </body>
</html>
